/* src/Components/Users.css */
.user-list {
  list-style: none;
  padding: 0;
}

.user-list li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.user-list li:hover {
  background-color: #585454;
  color: #f0f0f0;
}
